.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #df2fa1, #c06fde);
    text-align: center;
    flex-direction: column;
    color: whitesmoke;
}

.about{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(to right,#df2fa1,#c06fde);
    color:white;
    padding:40px;
}

.about h1{
    font-size:48px;
    margin-bottom:20px;
}

.about p{
    font-size:22px;
    max-width:700px;
    line-height:1.8;
}

.about ul{
    margin-top:20px;
    padding:0;
    list-style:none;
}

.about li{
    font-size:22px;
    margin:12px 0;
    background:
    rgba(255,255,255,0.15);
    padding:12px 24px;
    border-radius:12px;
    backdrop-filter:
    blur(10px);
}

input{
    width:70%;
    padding:10px;
    border:1px solid gray;
    border-radius:5px;
    font-size:16px;
}

button{
    padding:10px 15px;
    margin-left:10px;
    border:none;
    border-radius:5px;
    background-color:blue;
    color:white;
    cursor:pointer;
}

button:hover{
    background-color:darkblue;
}

.task{
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,#df2fa1,#c06fde);
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.task button{
    background:red;
}

.task button:hover{
    background:darkred;
}

.Navibar{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    list-style:none;
    background: #bfd3dc;;
    padding:20px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Navibar li a{
    text-decoration:none;
    font-size:24px;
    font-weight:bold;
    transition:0.3s;
    color: black;
    text-decoration:none;
}

.ou{
    display: flex;
    gap:20px;
    align-items: center;
    flex-direction: row;
}

.taskbox{
    background:
    rgba(255,255,255,0.15);

    backdrop-filter:
    blur(10px);

    color:white;

    border:
    1px solid
    rgba(255,255,255,0.2);

    padding:20px;

    border-radius:16px;
}


.taskbox:hover{
transform:translateY(-3px);
transition:0.3s;
}

.home,
.about,
.task{
    padding-top:100px;

    box-sizing:border-box;
}
